<h3>Atualixar Sala</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="sala.nome" name="name">
    </div>

    <div class="form-group">
      <label for="name">Data</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="sala.data" name="data">
    </div>

    <div class="form-group">
      <label for="name">Hora de Inicio</label>
      <input type="text" class="form-control" id="startHour" required [(ngModel)]="sala.inicioHora" name="inicioHora">
    </div>

    <div class="form-group">
      <label for="name">Hora de Termino</label>
      <input type="text" class="form-control" id="endHour" required [(ngModel)]="sala.terminoHora" name="terminoHora">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>